<div class="col-md-4 mt-5">
    <div class="card shadow border-0 text-start h-100">
        <a href="{{- product.url -}}"><img src="{{ product.featured_image | image_url: width: 500 }}" class="img-fluid" alt="{{- product.featured_image.alt -}}" width="" height="" loading="lazy"> </a>
        <div class="card-body">
            <h4 class="card-title">{{- product.title -}}</h4>
            {% comment %} <div>{{- product.content -}}</div> {% endcomment %}
            <span class="fw-bold">{{- product.price | money -}}</span>
        </div>
        <div class="card-footer d-flex bg-white p-3">
            <a href="{{- product.url -}}" class="btn btn-secondary me-3">Read More</a>
            {% form 'product', product %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">                              
                <button type="submit" class="btn btn-primary">Add to cart</button>
            {% endform %}
        </div>
    </div>
</div>