<header class="py-3 bg-white ">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="m-0 d-none">{{ shop.name }}</h1>
            <div class="logo">
                <a href="/" class="text-decoration-none fw-bold ">{{ shop.name }}</a>
            </div>
            <div class="d-flex">
                <nav>
                    <ul class="list-unstyled d-flex gap-4 m-0">
                        {% for link in linklists.main-menu-1.links %}
                            <li>
                                <a class="text-decoration-none {% if link.active -%} {% else  %}text-secondary{% endif %} fw-semibold" href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </nav>
                <div class="ms-5">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ routes.cart_url }}" class="text-secondary">
                                <i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                            </svg></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
            
        </div>
    </div>
</header>
