<section class="py-5">
    <div class="container">
        <div class="row">
            <h1>Cart</h1>

            {% for item in cart.items %}
                <div>
                    <img src="{{ item.image | image_url: width:200 }}" class="img-fluid " alt="{{ item.image.alt }}" width="{{ item.image.width }}" height="{{ item.image.height }}" loading="lazy">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.price | money }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Cart",
      "settings": []
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}